<template>
	<div class="wrap-crud">
		<q-toolbar>
			<q-toolbar-title>
	          Gestion des utilisateurs {{usersCount}}
	        </q-toolbar-title>
	        <q-btn flat  dense @click="showForm"> 
	        	<q-icon name="person_add"/>
	        </q-btn>
	        <q-btn flat round dense icon="filter_list" @click="showFilter"/>
      	</q-toolbar>
      	<q-modal v-model="activeForm" position='top' :content-css="{padding: '20px'}" class="wrap-form-user" ref="modalForm">
      		<form-user v-on:closeForm="closeModal" :winForm="editForm" :userP.sync="user"></form-user>
    	</q-modal>
      	<display-user v-on:showFomEdit="openModal"></display-user>
      	<q-modal v-model="activeFilter" position='top' :content-css="{padding: '20px'}" class="wrap-form-user" ref="modalFilter">
      		<form-filter v-on:closeFilter="closeModal"></form-filter>
    	</q-modal>

	</div>
</template>

<script>
	import Vuex from 'vuex'
	import FormUser from './FormUser'
	import DisplayUser from './DisplayUser'
	import FormFilter from './FormFilter'


	export default{
		name:'CrudUser',
		components:{
			FormUser,
			DisplayUser,
			FormFilter
		},
		methods:{
			...Vuex.mapActions({
				initUserStore:'initUser'
			}),
			showForm(){
				//this.initUserStore()
				this.activeForm=!this.activeForm
				this.editForm=false
			},
			closeModal(){
				//this.initUserStore()
				this.activeForm=false
				this.activeFilter=false
			},
			openModal(){
				console.log(this.user)
				this.editForm=true
				this.activeForm=!this.activeForm
			},
			showFilter(){
				this.activeFilter=!this.activeFilter
			}
		},
		computed:{
			...Vuex.mapGetters([
				'usersCount',
				'user'
			])
		},
		data(){
			return{
				activeForm:false,
				editForm:false,
				activeFilter:false
			}
			
		}
	}
</script>
<style>
	.wrap-form-user{
		margin-top: 50px;
	}
</style>