<template>
	<div class="wrap-display-user">
		<q-table
	      :data="users"
	      :columns="columns"
	      selection="multiple"
	      :selected.sync="selectedSecond"
	      row-key="id"
	      color="secondary"
	      title="Liste des utilisateurs"
	    >
	    <q-td slot="body-cell-desc" slot-scope="props" :props="props">
        <q-chip small color="secondary">{{ props.value }}</q-chip>
      </q-td>
	      <template slot="top-selection" slot-scope="props">
	        <span class="caption">Quelle action voulez vous entreprendre?</span>
	        <div class="col" />
	        <q-btn color="secondary" flat round  icon="edit" @click="openFormEdit"/>
	        <q-btn color="negative" flat round delete icon="delete" @click="deleteUser" />
	      </template>
		    <div slot="pagination" slot-scope="props" class="row flex-center q-py-sm">
		        <q-btn
		          round dense size="sm" icon="undo" color="secondary" class="q-mr-sm"
		          :disable="props.isFirstPage"
		          @click="props.prevPage"
		        />
		        <div class="q-mr-sm" style="font-size: small">Page {{ props.pagination.page }} / {{ props.pagesNumber }}</div>
		        <q-btn
		          round dense size="sm" icon="redo" color="secondary"
		          :disable="props.isLastPage"
		          @click="props.nextPage"
		        />
	      	</div>
    	</q-table>
	</div>
</template>

<script>
	//import Vue from 'vue'
	import Vuex from 'vuex'

	export default{
		name:'display-user',
		components:{
			
		},
		props:['user'],
		computed:{
			...Vuex.mapGetters([
				'users',
				'filter'
			])
		},
		methods: {
		    ...Vuex.mapActions({
				deleteUserStore:'deleteUser',
				setUserStore:'setUser'
			}),
			deleteUser(){
				this.$q.notify({
			        color: 'secondary',
			        icon: 'delete',
			        message: `Will delete the selected row${this.selectedSecond.length > 1 ? 's' : ''} later, ok?`
			    })
				this.deleteUserStore(this.selectedSecond)
				this.selectedSecond.splice(0,this.selectedSecond.length)
			},
			openFormEdit(){
				if(this.selectedSecond.length==1){
					//console.log(this.selectedSecond[0])
					this.setUserStore(this.selectedSecond[0])
					//this.$emit('update:user',this.selectedSecond[0])
					this.$emit('showFomEdit')
				}
				else{
					console.log("vous ne pouvez pas éditer plusieurs utilisateurs à la fois")
				}
			}
	  	},
		data(){
			return{
				columns:[
					{ name: 'name', label: 'Nom', field: 'name', sortable: true },
					{ name: 'email', label: 'Email', field: 'email', sortable: true },
					{ name: 'role', label: 'Rôle', field: 'role', sortable: true },
					{ name: 'status', label: 'Status', field: 'status', sortable: false }
					
				],
				selectedSecond:[],
				paginationControl: { rowsPerPage: 3, page: 1 }
			}
		}
	}
</script>

<style></style>