<template>
	<div class="crud-form" v-if="!winForm">
		<div class='form-control'>
			<q-input v-model="userF.name" float-label="Noms de l'utilisateur" placeholder="" />
		</div>
		<div class="form-control">
			<q-input v-model="userF.email" float-label="Email utilisateur" placeholder="example@dtsw.fr" />
		</div>
		<div class='form-control'>
			<q-input v-model="userF.password" float-label="Mot de passe" placeholder="" type="password"/>
		</div>
		<div class="form-control">
			<q-select
		      v-model="userF.role"
		      float-label="Rôle"
		      radio
		     :options="roles"
		    />
		</div>
		<div class="form-control">
			<label class="caption">Status:</label>
			<q-radio v-model="userF.status" val="active" color="secondary" left-label label="Activer" />
      		<q-radio v-model="userF.status" val="pending" color="secondary" left-label label="Pending" style="margin-left: 10px" />
      		<q-radio v-model="userF.status" val="inactive" color="secondary" left-label label="Désactiver" style="margin-left: 10px" />
		</div>
		<div class="form-control">
			<q-uploader 
			:url="url" 
			v-model="userF.avatar" 
			float-label="Importer une photo"  
			@add="added" 
			hide-upload-progress 
			hide-upload-button
			/>
		</div>
		<hr/>
		<div class="form-control form-btn">
			<q-btn color="secondary" icon-right="send" label="Enregistrer" @click="addUser" v-if="!winForm"/>
			<q-btn color="secondary" icon-right="send" label="Modifier" @click="editUser" v-else/>
			<q-btn color="red" icon-right="cancel" label="Anuler"/>
		</div>
	</div>

	<div class="crud-form" v-else>
		<div class='form-control'>
			<q-input v-model="userP.name" float-label="Noms de l'utilisateur" placeholder="" />
		</div>
		<div class="form-control">
			<q-input v-model="userP.email" float-label="Email utilisateur" placeholder="example@dtsw.fr" />
		</div>
		<div class='form-control'>
			<q-input v-model="userP.password" float-label="Mot de passe" placeholder="" type="password"/>
		</div>
		<div class="form-control">
			<q-select
		      v-model="userP.role"
		      float-label="Rôle"
		      radio
		     :options="roles"
		    />
		</div>
		<div class="form-control">
			<label class="caption">Status:</label>
			<q-radio v-model="userP.status" val="active" color="secondary" left-label label="Activer" />
      		<q-radio v-model="userP.status" val="pending" color="secondary" left-label label="Pending" style="margin-left: 10px" />
      		<q-radio v-model="userP.status" val="inactive" color="secondary" left-label label="Désactiver" style="margin-left: 10px" />
		</div>
		<div class="form-control">
			<q-uploader 
			:url="url" 
			v-model="userP.avatar" 
			float-label="Importer une photo"  
			@add="added" 
			hide-upload-progress 
			hide-upload-button
			/>
		</div>
		<hr/>
		<div class="form-control form-btn">
			<q-btn color="secondary" icon-right="send" label="Enregistrer" @click="addUser" v-if="!winForm"/>
			<q-btn color="secondary" icon-right="send" label="Modifier" @click="editUser" v-else/>
			<q-btn color="red" icon-right="cancel" label="Anuler"/>
		</div>
	</div>
</template>

<script>
	import Vuex from 'vuex'
	let f
	export default{
		name:'form-user',
		props:['winForm','userP'],
		data(){
			return{
				userF:this.userP,
				url:'',
				roles:[
					{
						label:'Public',
						value:'public'
					},
					{
						label:'Admin',
						value:'admin'
					},
					{
						label:'Professional',
						value:'professional'
					}
				]
			}
		},
		computed:{
			...Vuex.mapGetters([
				'user'
			])
		},
		methods:{
			...Vuex.mapActions({
				addUserStore:'addUser',
				editUserStore:'editUser',
				initUserStore:'initUser'
			}),
			added(file){
				this.user.avatar=file[0].__img.src
			},
			addUser(){
				this.addUserStore(this.userF)
				this.userF={
					id:'',
					name:'',
					email:'',
					role:'',
					password:'',
					status:'active',
					avatar:'',
					password:''
				}
				this.$emit('closeForm')
			},
			initialiseUser(){
				let u={
					id:'',
					name:'',
					email:'',
					role:'',
					password:'',
					status:'active',
					avatar:'',
					password:''
				}
				this.initUserStore()
				/*this.user={
					id:'',
					name:'',
					email:'',
					role:'',
					password:'',
					status:'active',
					avatar:'',
					password:''
				}*/
				//this.$emit('update:userP',this.user)
				/*if(this.winForm){
					this.$emit('update:userP',u)
				}
				else{
					this.user={}
				}*/
			},
			editUser(){
				this.editUserStore(this.userF)
				this.$emit('closeForm')
				this.userF={
					id:'',
					name:'',
					email:'',
					role:'',
					password:'',
					status:'active',
					avatar:'',
					password:''
				}
			}
		}
	}	
</script>

<style>
	.form-control{
		margin-top: 15px;
	}
</style>