<template>
	<div>
		<q-stepper ref="stepper" vertical>
  <!-- Step: -->
  <q-step default title="Filter Status" subtitle="Filtrer par status">
	<div class="form-control">
		<label class="caption">Status:</label>
		<q-radio v-model="filtre.status" val="active" color="secondary" left-label label="Activer" />
  		<q-radio v-model="filtre.status" val="pending" color="secondary" left-label label="Pending" style="margin-left: 10px" />
  		<q-radio v-model="filtre.status" val="inactive" color="secondary" left-label label="Désactiver" style="margin-left: 10px" />
	</div>
	<div class="form-control form-btn">
		<q-btn flat color="red" icon-right="refresh" label="Reset" @click="filtre.status=''"/>
	</div>
  </q-step>

  <!-- Step: -->
  <q-step title="Filter Rôle" subtitle="Filtrer par rôle">
  	<div class="form-control">
		<label class="caption">Rôle:</label>
		<q-radio v-model="filtre.role" val="public" color="secondary" left-label label="Public" />
  		<q-radio v-model="filtre.role" val="admin" color="secondary" left-label label="Admin" style="margin-left: 10px" />
  		<q-radio v-model="filtre.role" val="professionnal" color="secondary" left-label label="Professionnel" style="margin-left: 10px" />
	</div>
	<div class="form-control form-btn">
		<q-btn flat color="red" icon-right="refresh" label="Reset" @click="filtre.role=''"/>
	</div>
  </q-step>

  <q-stepper-navigation>
    <q-btn
      flat
      @click="previous"
      label="Précédent"
      v-show="btnPrevious"
    />
    <q-btn
      flat
      @click="next"
      label="Continuer"
      v-show="btnNext"
    />
    <q-btn
      flat
      @click="filter"
      label="Filtrer"
      v-show="btnFilter"
    />
  </q-stepper-navigation>
</q-stepper>
	</div>
</template>
<script>
	import Vuex from 'vuex'
	export default{
		data(){
			return {
				filtre:{
					status:'',
					role:''
				},
				btnPrevious:false,
				btnNext:true,
				btnFilter:false
			}
		},
		computed:{
			...Vuex.mapGetters([

			])
		},
		methods:{
			...Vuex.mapActions({
				setFilterStore:'setFilter'
			}),
			previous(){
				this.$refs.stepper.previous()
				this.btnPrevious=false
				this.btnNext=true
				this.btnFilter=false
			},
			next(){
				this.$refs.stepper.next()
				this.btnNext=false
				this.btnPrevious=true
				this.btnFilter=true
			},
			filter(){
				this.setFilterStore(this.filtre)
				this.$emit('closeFilter')
			}
		}
	}
</script>
<style>
	.form-control{
		margin-top: 15px;
	}
</style>