<template>
	<div class="wrap-crud">
		<q-toolbar>
			<q-toolbar-title>
	          Gestion des utilisateurs {{usersCount}}
	        </q-toolbar-title>
	        <q-btn flat  dense @click="showForm"> 
	        	<q-icon name="person_add"/>
	        </q-btn>
	        <q-btn flat round dense icon="more_vert" />
      	</q-toolbar>
      	<q-modal v-model="activeForm" position='top' :content-css="{padding: '20px'}" class="wrap-form-user" ref="modalForm">
      		<form-user v-on:closeForm="closeModal" :winForm="this.editForm" :userP.sync="user"></form-user>
    	</q-modal>
      	<display-user v-on:showFomEdit="openModal" :user.sync="user"></display-user>
	</div>
</template>

<script>
	import Vuex from 'vuex'
	import FormUser from './FormUser'
	import DisplayUser from './DisplayUser'


	export default{
		name:'CrudUser',
		components:{
			FormUser,
			DisplayUser
		},
		methods:{
			showForm(){
				this.activeForm=!this.activeForm
				this.editForm=false
			},
			closeModal(){
				this.activeForm=false
			},
			openModal(){
				this.editForm=true
				this.activeForm=!this.activeForm
			}
		},
		computed:{
			...Vuex.mapGetters([
				'usersCount'
			])
		},
		data(){
			return{
				activeForm:false,
				editForm:false,
				user:{
					id:'',
					firstname:'',
					nickname:'',
					sexe:'',
					date:'',
					country:'',
					loisirs:[]
				}
			}
			
		}
	}
</script>
<style>
	.wrap-form-user{
		margin-top: 50px;
	}
</style>