<template>
	<div class="crud-form">
		<div class='form-control'>
			<q-input v-model="userP.firstname" float-label="Nom utilisateur" placeholder="" />
		</div>
		<div class="form-control">
			<q-input v-model="userP.nickname" float-label="Prenom utilisateur" placeholder="" />
		</div>
		<div class="form-control">
			<label class="caption">Sexe:</label>
			<q-radio v-model="userP.sexe" val="M" color="secondary" left-label label="Masculin" />
      		<q-radio v-model="userP.sexe" val="F" color="secondary" left-label label="Feminin" style="margin-left: 10px" />
		</div>
		<div class="form-control">
			<q-datetime v-model="userP.date" type="date" float-label="Date de naissance"/>
		</div>
		<div class="form-control">
			<q-select
		      v-model="userP.country"
		      float-label="Nationalité"
		      radio
		     :options="countries"
		    />
		</div>
		<div class="form-control">
			<label class="caption">Mes Loisirs:</label>
			<q-checkbox v-model="userP.loisirs" label="Films" color="secondary" val="films" />
      		<q-checkbox v-model="userP.loisirs" label="Ballades" val="ballades" color="secondary" style="margin-left: 10px" />
      		<q-checkbox v-model="userP.loisirs" label="Programmer" val="programmer" color="secondary" style="margin-left: 10px" />
		</div>
		<hr/>
		<div class="form-control form-btn">
			<q-btn color="secondary" icon-right="send" label="Enregistrer" @click="addUser" v-if="!winForm"/>
			<q-btn color="secondary" icon-right="send" label="Modifier" @click="editUser" v-else/>
			<q-btn color="red" icon-right="cancel" label="Anuler"/>
		</div>
		
	</div>
</template>
<script >
	import Vuex from 'vuex'

	export default{
		name:'FormUser',
		components:{},
		props:['winForm','userP'],
		data(){
			return {
				user:this.userP,
				countries:[
					{
						label:'Cameroun',
						value:'cameroun'
					},
					{
						label:'Suisse',
						value:'suisse'
					},
					{
						label:'France',
						value:'france'
					},
					{
						label:'Congo',
						value:'congo'
					}
				]
			}
		},
		computed:{
			
		},
		methods:{
			...Vuex.mapActions({
				addUserStore:'addUser',
				editUserStore:'editUser'
			}),
			addUser(){
				this.addUserStore(this.user)
				this.$emit('closeForm')
				this.initialiseUser()
			},
			initialiseUser(){
				let u={
					id:'',
					firstname:'',
					nickname:'',
					sexe:'',
					date:'',
					country:'',
					loisirs:[]
				}
				if(this.winForm){
					this.$emit('update:userP',u)
				}
				else{
					this.user={}
				}
			},
			editUser(){
				this.editUserStore(this.user)
				this.$emit('closeForm')
				this.initialiseUser()
			}
		}
	}
</script>

<style>
	.form-control{
		margin-top: 15px;
	}
</style>